<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Calendar</title>
    <link rel="stylesheet" href="../../components/sidebar/style.css">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <div w3-include-html="../../components/sidebar/sidebar.html"></div>
    <div class="event-container">
      <h3 class="year">UPCOMING GUIDANCE SESSIONS</h3>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">8</div>
            <div class="month">MAY</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">DECODING PLACEMENT</h3>

          <div class="event-description">
           A session by experts in understanding placement procedure and preparing for it.
          </div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:00 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">22</div>
            <div class="month">June</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">INTERVIEW PREP</h3>

          <div class="event-description">
            Interview tips and tricks to ace interviews both technical and hr based.
          </div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:45 am
          </div>
        </div>
      </div>

      <h3 class="year"> UPCOMING TECH EVENTS 2024</h3>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">8</div>
            <div class="month">APRIL</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">AR-VR HANDS ON</h3>

          <div class="event-description">
            Learning AR and using it to make projects during the session.
          </div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:00 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">9</div>
            <div class="month">MAY</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">COMPETITIVE PROGRAMMING CONTEST</h3>

          <div class="event-description">
           Compete with your college mates and get awards for being the best programmer
          </div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:30 am
          </div>
        </div>
      </div>

       <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">4</div>
            <div class="month">Apr</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">HACKATHON</h3>

          <div class="event-description">
           Participate and Build projects within 24hrs and get the best of prizes.
          </div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:00 am
          </div>
        </div>
      </div>

      <!-- <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">8</div>
            <div class="month">Jun</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">Some Title Here</h3>

          <div class="event-description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
            ratione.
          </div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:00 am
          </div> -->
        <!-- </div>
      </div> -->
    </div>

    <script src="../../homePagescript.js"></script>
    <script src="../../components/sidebar/script.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
