<div id="mySidebar" class="sidebar">
  <div id="profile">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <img src="../../assets/images/profile.jpg">
    Piya Ahuja<br>
    CSE 2021
  </div>

  <a href="#">Dashboard</a>
  <a href="../../views/jobs/jobs.html">Jobs</a>
  <a href="../../views/applications/applications.html">My Applications</a>
  <a href="../../views/profile/profile.html">My Profile</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>
</div>