<div id="mySidebar" class="sidebar">
  <div id="profile">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <img src="../../assets/images/profile.jpg">
    Piya Ahuja<br>
    CSE 2021
  </div>

  <br>
  <div class="pages">
    <a href="../../views/events/index.html">Events</a>
    <a href="../../views/jobs/jobs.html">Jobs</a>
    <a href="../../views/applications/applications.html">My Applications</a>
    <a href="../../views/profile/profile.html">My Profile</a>
  </div>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>
</div>

<div>
  <button class="logout" onclick="window.location.href='../../index.html'"><i class="fa fa-sign-out"
      style="font-size:24px"></i></button>
</div>