<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Applications</title>
    <link rel="stylesheet" href="../../components/sidebar/style.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div w3-include-html="../../components/sidebar/sidebar.html"></div>
    <div id="content">
        <h1>MY APPLICATIONS</h1>
        <input type="text" id="myInput" onkeyup="search()" placeholder="Search for jobs..">
        <table id="myTable">
            <tr>
                <th>Job Role</th>
                <th>Company</th>
                <th>Status</th>
                <th></th>
            </tr>
            <tbody>
                <tr>
                    <td>Google SWE Intern 2025</td>
                    <td>Google</td>
                    <td>Shortlisted</td>
                    <td> <button class="seemore" onclick="">SEE MORE</button></td>
                </tr>
                <tr>
                    <td>Linkedin Intern 2025</td>
                    <td>LinkedIn</td>
                    <td>Applied</td>
                    <td> <button class="seemore" onclick="">SEE MORE</button></td>
                </tr>

            </tbody>
        </table>
    </div>

    <script src="../../homePagescript.js"></script>
    <script src="../../components/sidebar/script.js"></script>
    <script src="./script.js"></script>
</body>

</html>