#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

#content {
    padding: 10px 20px;
    border: none;
    margin-right: 20px;
    border-radius: 4px;
  }
  
table {
    padding: 20px;
    position: absolute;
    width: 100%;
    border-color: black;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
}

th, td {
    text-align: left;
    padding: 12px;
}
tr {
    border-bottom: 1px solid #ddd;
}

th, tr:hover{
    background-color: #f1f1f1;
}

/* Push the page content to the right when you open the side navigation */
#content {
    transition: margin-left .5s;
    /* If you want a transition effect */
}
