<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
    <link rel="stylesheet" href="../../components/sidebar/style.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div w3-include-html="../../components/sidebar/sidebar.html"></div>
    <div id="flashcard-container"></div>

    <script src="../../homePagescript.js"></script>
    <script src="../../components/sidebar/script.js"></script>
    <script src="./script.js"></script>
</body>

</html>